<html>
<head>
  <meta charset="UTF-8"/>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./assets/css/stock.css">


  <script type="text/javascript" src="./assets/js/angular/angular.min.js"></script>
  <script type="text/javascript" src="./assets/js/angular/angular-resource.min.js"></script>
  <script type="text/javascript" src="./app/index.module.js"></script>
  <script type="text/javascript" src="./app/controllers/home.controller.js"></script>


</head>
<body ng-app="appEstoque">


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container" ng-controller="HomeController as vm">

  <div class="starter-template">
    <h2> Lista de Produtos</h2>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.products">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price | currency}}</td>
        <td>
          <button class="btn btn-info btn-sm" ng-click="vm.product = item">Editar</button>
          <button class="btn btn-danger btn-sm" ng-click="vm.delete(item)">Excluir</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>

    <form>
      <h2>{{vm.product.id ? 'Editar Produto' : 'Novo Produto'}}</h2>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" ng-model="vm.product.name">
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" ng-model="vm.product.description">
      </div>
      <div class="form-group">
        <label for="description">Preço</label>
        <input type="number" step="0.01" class="form-control" id="price" ng-model="vm.product.price">
      </div>
      <button type="button" class="btn btn-primary" ng-click="vm.save()">Salvar</button>
      <button type="button" class="btn btn-primary"
              ng-show="vm.product.id"
              ng-click="vm.product = {}">Novo</button>
    </form>
  </div>


</main>

</body>
</html>
